[Desktop Entry]
Name=GTKHafiz
Comment=Track Quran memorization visually
Exec=gtkhafiz
Type=Application
Categories=Education
Keywords=Quran;Arabic
Icon=gtkhafiz
