[Desktop Entry]
Name=GTKHafiz
Comment=Track Quran memorization visually
Exec=/usr/local/bin/gtkhafiz
Type=Application
Categories=Education
Icon=gtkhafiz
